.container {
  height: fit-content;
  width: fit-content;
}

.inputContainer {
  width: 700px;
  height: 100px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}
.inputField {
  width: 60%;
  margin: 6px;
}

.button {
  height: 36px;
  width: 150px;
  margin: 6px;
}
