.container {
  height: fit-content;
  width: 50%;
  min-width: 400px;
  margin-top: 10px;
}
.outputContainer {
  width: 100%;
  height: 100px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outputContainer div {
  font-size: 18px;
  margin-bottom: 6px;
}
.outputContainer a {
  color: blue;
  text-decoration: none;
}
